* {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
html {
  scroll-behavior: smooth;
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.main {
  margin-bottom: 40px;
  text-align: center;
}
.googlemaps {
  border: 2px solid black;
  border-radius: 10px;
}

.navbar {
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

.navbar ul li:hover {
  opacity: 35%;
}

.footer {
  margin-top: 25px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  height: 5vh;
}

.fa {
  border-radius: 5px;
  padding: 5px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 5px 5px rgb(0, 0, 0);
}

.fa-twitter {
  background: #55acee;
  color: white;
  text-decoration: none;
  font-size: 50px;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa:hover {
  opacity: 0.7;
}

.footer p {
  margin-top: 10px;
  font-size: small;
}

.darkmode {
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(197, 245, 192);
  margin-top: 5px;
}
.darkmode:hover {
  background-color: #35393a;
}

.googlemaps.show {
  filter: invert(100%);
}
